<div class="center">
	<div class="leftcol">
		<div class="events">
			<div class="fleft">
				<div><b id="main_lg_hdr">We have propositions for everybody!</b></div>
				<div id="main_lg_text">Не упусти свой шанс присоединится к лучшей команде...</div>
			</div>
			<div id="main_lg_link">
				<%= link_to "Join", new_registration_path(resource_name), :id => 'submit' %>
			</div>
			<div class="clear"></div>
		</div>
		<div id="main_logo"><img src="/assets/world.png" width="600px;"></div>
		<div class="main_col">
			<div class="box12">
	        	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt 
	            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
	            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
	            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
	            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
	          <div class="fold_box12"></div>
	          <div class="fold2_box12"></div>
	          <div class="box12_ribbon"></div>
	        </div><!-- end box12 -->
		</div>
		<div class="main_col">
			<div class="box7">
	        	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt 
	            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
	            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
	            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
	            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
	        </div><!-- end box7 -->
		</div>
		<div class="clear"></div>
		<div class="main_col">
			<div class="box12">
	        	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt 
	            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
	            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
	            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
	            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
	          <div class="fold_box12"></div>
	          <div class="fold2_box12"></div>
	          <div class="box14_ribbon"></div>
	        </div><!-- end box12 -->
		</div>
		<div class="main_col">
			<div class="box12">
	        	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt 
	            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
	            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
	            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
	            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
	          <div class="fold_box12"></div>
	          <div class="fold2_box12"></div>
	          <div class="box12_ribbon"></div>
	        </div><!-- end box12 -->
		</div>
	</div>
	<div id="news_block">
		<h4>Latest News</h4>
		<div class="hr_x"></div>
		<ul class="news">
			<% @news.each do |news| %>
				<li>
					<div class="date">
						<span class="day"><%= news.created_at.day -%></span>
						<span class="month"><%= Date::MONTHNAMES[news.created_at.month][0,3] -%></span>
						<span class="year"><%= news.created_at.year -%></span>
					</div>
					<div class="extra-wrap">
						<h5><%= link_to news.title, news -%></h5>
						<p><%= markdown(news.body) -%></p>
					</div>
				</li>
			<% end %>
		</ul>
		<div id="all_news">
			<%= link_to "View all news", news_index_path, :class => 'link' %>
		</div>
	</div>
</div>
<div class="clear"></div>