<div class="center">
	<div style="float:left;width:1000px;margin-bottom:1em;margin-top:2.5em;">
		<div id="form-container" style="width:950px;">
			<h1>Forgot your password?</h1>
			<h2>Введите ваш E-mail и мы вышлем Вам Ваш пароль</h2>
			
			<%= devise_error_messages! %>
			<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
			
				<p><%= f.label :email %>
				<%= f.email_field :email %></p>
			
				<p class="submit"><%= f.submit "Send mail", :class => "signin_submit" %></p>
			<% end %>
		</div>
	</div>
</div>
<div class="clear"></div>