<div class="center">
	<div style="float:left;width:700px;margin-bottom:1em;margin-top:2.5em;">
		<div id="form-container" style="width:630px;">
			<h1>Forgot your password?</h1>
			<h2>Введите ваш E-mail и мы вышлем Вам Ваш пароль</h2>
			
			<%= devise_error_messages! %>
			<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
			
				<p><%= f.label :email %>
				<%= f.email_field :email %></p>
			
				<p class="submit"><%= f.submit "Send me reset password instructions", :class => "signin_submit" %></p>
			<% end %>
		</div>
	</div>
	<div id="news_block">
		<h4>Latest News</h4>
		<div class="hr_x"></div>
		<ul class="news">
			<li>
				<div class="date">
					<span class="day">30</span>
					<span class="month">Jun</span>
					<span class="year">2009</span>
				</div>
				<div class="extra-wrap">
					<h5><a href="#">Pellentesque sed dolor.</a></h5>
					<p>Aliquam congue ferme ntum nisl auris accumsan nullavel diam. Sed in lacus ut enim adipis.</p>
				</div>
			</li>
			<li>
				<div class="date">
					<span class="day">30</span>
					<span class="month">Jun</span>
					<span class="year">2009</span>
				</div>
				<div class="extra-wrap">
					<h5><a href="#">Pellentesque sed dolor.</a></h5>
					<p>Aliquam congue ferme ntum nisl auris accumsan nullavel diam. Sed in lacus ut enim adipis.</p>
				</div>
			</li>
			<li>
				<div class="date">
					<span class="day">30</span>
					<span class="month">Jun</span>
					<span class="year">2009</span>
				</div>
				<div class="extra-wrap">
					<h5><a href="#">Pellentesque sed dolor.</a></h5>
					<p>Aliquam congue ferme ntum nisl auris accumsan nullavel diam. Sed in lacus ut enim adipis.</p>
				</div>
			</li>
			<li>
				<div class="date">
					<span class="day">30</span>
					<span class="month">Jun</span>
					<span class="year">2009</span>
				</div>
				<div class="extra-wrap">
					<h5><a href="#">Pellentesque sed dolor.</a></h5>
					<p>Aliquam congue ferme ntum nisl auris accumsan nullavel diam. Sed in lacus ut enim adipis.</p>
				</div>
			</li>
		</ul>
		<div id="all_news">
			<a href="#" class="link">View all news</a>
		</div>
	</div>
</div>
<div class="clear"></div>