<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"> 
<html>
<head>
  <title>Nerdbase</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<ul id="navigation">
        <li class="home"><a href="#" title="Home"></a></li>
        <li class="about"><a href="#" title="About"></a></li>
        <li class="search"><a href="#" title="Search"></a></li>
    </ul>

	<div id="header">
		<div class="center">
			<img src="/assets/nerdbase.png">
			<img src="/assets/nerdbase3_new.png" style="padding-bottom:1em;">
		</div>
		<%= render "menu" -%>
	</div>
	
	<div class="center">
		<div style="width:650px;float:left;">
			<form id="searchForm" method="post">
				<fieldset>
					<input id="s" type="text" />
					<a href="login" id="submitButton" class="signin">Search</a>
				</fieldset>
			</form>
		</div>
		<div id="container">
			<% if user_signed_in? %>
				<div id="topnav" class="topnav">
				<p>
					You are logged as <%= current_user.email %>
				</p>
				<p>
				  <%= link_to('Logout', destroy_user_session_path, :method => 'delete') %>        
				</p>
				</div>
			<% else %>
			<div id="topnav" class="topnav"><a href="login" class="signin"><span>Sign in</span></a></div>
			<fieldset id="signin_menu">
				<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:id => 'signin' }) do |f| %>
				  <p><%= f.label :email %>
				  <%= f.email_field :email %></p>

				  <p ><%= f.label :password %>
				  <%= f.password_field :password %></p>

				  <p class="remember">
				  <% if devise_mapping.rememberable? -%>
					<%= f.submit "Sign in", :html => {:id => :signin } %>
				    <%= f.check_box :remember_me %> <%= f.label :remember_me %>
				  <% end -%>
				  </p>
				  <p class="forgot">
				    <%= link_to "Forgot your password?", new_password_path(resource_name) %>
				  </p>
				<% end %>
			</fieldset>
			<div id="user_nav">
				<% if user_signed_in? %>
				    Signed in as <%= current_user.email %>.
				    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
				  <% end %>
			</div>
			<% end %>
		</div>
	</div>
	<div class="clear"></div>
	
	<div id="flash" class="flash_html center">
		<% unless flash[:notice].blank? %>
			<%= flash[:notice]%>
		<% end %>
		<% unless flash[:error].blank? %>
			<%= flash[:error]%>
		<% end %>
		<% unless flash[:alert].blank? %>
			<%= flash[:alert]%>
		<% end %>
	</div>

<%= yield %>

	<%= render "footer"%>
</body>
</html>
