<div class="center">
	<div style="float:left;width:700px;margin-bottom:1em;margin-top:2.5em;">
		<div id="form-container" style="width:630px;">
	    	<h1>Регистрация</h1>
	    	<h2>Drop us a line and we will get back to you</h2>
	
			<%= devise_error_messages! %>
			
			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :validate => true) do |f| %>
				
			  <fieldset>
			  	<p class="first"><%= f.label :email %>
			  	<%= f.email_field :email %></p>

			  	<p><%= f.label :password %>
			  	<%= f.password_field :password %></p>
			
			  	<p><%= f.label :password_confirmation %>
			  	<%= f.password_field :password_confirmation %></p>
			
				<p>
					<label for="email">Имя:</label>
					<input type="text" name="email" id="email" size="30" />
				</p>
				<p>
					<label for="web">Фамилия:</label>
					<input type="text" name="web" id="web" size="30" />
				</p>
				
				<p>
					<label for="web">Пол:</label>
					<input type="radio" name="group2" value="Water" checked style="margin-left:.2em;"> Мужской
					<input type="radio" name="group2" value="Wine" style="margin-left:1em;"> Женский
				</p>
				
				<p class="code">
					<label for="web">Введите код:</label>
					<input type="text" name="web" id="web" size="30" />
				</p>

			  	<p class="submit"><%= f.submit "Sign up", :class => "signin_submit" %></p>
			  </fieldset>
			<% end %>
	    </div>
	</div>
	<div id="news_block">
		<h4>Latest News</h4>
		<div class="hr_x"></div>
		<ul class="news">
			<li>
				<div class="date">
					<span class="day">30</span>
					<span class="month">Jun</span>
					<span class="year">2009</span>
				</div>
				<div class="extra-wrap">
					<h5><a href="#">Pellentesque sed dolor.</a></h5>
					<p>Aliquam congue ferme ntum nisl auris accumsan nullavel diam. Sed in lacus ut enim adipis.</p>
				</div>
			</li>
			<li>
				<div class="date">
					<span class="day">30</span>
					<span class="month">Jun</span>
					<span class="year">2009</span>
				</div>
				<div class="extra-wrap">
					<h5><a href="#">Pellentesque sed dolor.</a></h5>
					<p>Aliquam congue ferme ntum nisl auris accumsan nullavel diam. Sed in lacus ut enim adipis.</p>
				</div>
			</li>
			<li>
				<div class="date">
					<span class="day">30</span>
					<span class="month">Jun</span>
					<span class="year">2009</span>
				</div>
				<div class="extra-wrap">
					<h5><a href="#">Pellentesque sed dolor.</a></h5>
					<p>Aliquam congue ferme ntum nisl auris accumsan nullavel diam. Sed in lacus ut enim adipis.</p>
				</div>
			</li>
			<li>
				<div class="date">
					<span class="day">30</span>
					<span class="month">Jun</span>
					<span class="year">2009</span>
				</div>
				<div class="extra-wrap">
					<h5><a href="#">Pellentesque sed dolor.</a></h5>
					<p>Aliquam congue ferme ntum nisl auris accumsan nullavel diam. Sed in lacus ut enim adipis.</p>
				</div>
			</li>
		</ul>
		<div id="all_news">
			<a href="#" class="link">View all news</a>
		</div>
	</div>
</div>
<div class="clear"></div>
