<div class="center">
	<div style="float:left;width:700px;margin-bottom:1em;margin-top:2.5em;">
		<div id="form-container" style="width:1000px;">
	    	<h1>Регистрация</h1>
	    	<h2>Drop us a line and we will get back to you</h2>
			<%= devise_error_messages! %>

			
			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
			  	<p class="first">
					<%= f.label :email %>
			  		<%= f.email_field :email%>
				</p>

			  	<p><%= f.label :password %>
			  	<%= f.password_field :password  %></p>
			
			  	<p><%= f.label :password_confirmation %>
			  	<%= f.password_field :password_confirmation %></p>
			
				<p>
					<label for="login">Имя:</label>
					<input type="text" name="login" id="login" size="30" />
				</p>
				<p>
					<label for="web">Фамилия:</label>
					<input type="text" name="web" id="web" size="30" />
				</p>
				
				<p>
					<label for="web">Пол:</label>
					<input type="radio" name="group2" value="Water" checked style="margin-left:.2em;"> Мужской
					<input type="radio" name="group2" value="Wine" style="margin-left:1em;"> Женский
				</p>
				
				<p class="code">
					<label for="web">Введите код:</label>
					<input type="text" name="web" id="web" size="30" />
				</p>

			  	<p class="submit"><%= f.submit "Sign up", :class => "signin_submit" %></p>
			<% end %>
	    </div>
	</div>
</div>
<div class="clear"></div>
